* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.constraint {
    max-width: 480px;
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.vstack {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hstack {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dimigoin-logo {
    display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  font-size: 1.5rem;
  font-weight: 600;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  user-select: none;
  text-decoration: none;
}
.dimigoin-logo > p {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.5rem;
  font-weight: 600;
}

svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin-top: auto;
}

.google-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 14px;
    background: #fff;
    border: 1px solid #dadce0;
    border-radius: 6px;
    color: #202124;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.google-btn:hover {
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
}
.google-icon svg{
    display:block;
    width:18px;
    height:18px;
}
