button {
	font: inherit;
	color: inherit;
	cursor: pointer;
	border: none;
	background: none;
}

body {
	margin: 0;
	padding: 0;
	background: #000000;
	min-height: 100vh;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	color: rgb(244, 244, 245);
}
.center-section {
	width: 100%;
	max-width: 476px;
	margin: 0 auto;
	min-height: 100vh;
	background: #111111;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 36px;
}
.logo > img {
	height: 32px;
}
.logo > span {
	font-size: 1.5rem;
	font-weight: 600;
}

.login-btn {
	display: flex;
	flex-direction: row;
	place-content: center;
	gap: 10px;
	width: 80%;
	background-color: rgba(72, 79, 138, 0.15);
	padding: 16px 12px;
	border-radius: 16px;
}
.login-btn svg {
	display: block;
	max-width: 100%;
}
.scenery {
	width: 100%;
	max-width: 450px;
	margin-bottom: 0;
}

/* applyroom.ejs styles */
.applyroom-section {
	width: 100%;
	max-width: 476px;
	margin: 0 auto;
	min-height: 100vh;
	background: #111111;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: stretch;
}
.select-option {
	width: -webkit-fill-available;
	height: 60px;
	background-color: rgb(35, 35, 35);
	border: none;
	border-radius: 1.2rem;

	margin-top: 36px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	gap: 20px;
}
.select-option > div {
	border-radius: 1rem;
	height: 45px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.125rem;
	font-weight: 500;
	background-color: rgb(45, 45, 45);
	cursor: pointer;
}
.apply {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.apply p {
	margin-bottom: 0;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: 500;
}
.apply input {
	background-color: inherit;
	border: rgb(232, 60, 119) 3px solid;
	border-radius: 16px;
	color: #dddddd;
	width: -webkit-fill-available;
	height: 40px;
}
#submit {
	margin-top: 30px;
	background-color: rgb(232, 60, 119);
}
#submit:hover {
	cursor: pointer;
}


.footer-nav {
	width: 100%;
	height: 84px;
	padding: 0 12px;
	max-width: 450px;
	color: rgb(232, 60, 119, 0.5);
	background: #111111;
	border-radius: 16px 16px 0px 0px;
    background-color: rgb(35, 35, 35);
    border: 1px solid rgba(121, 123, 138, 0.12);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav-button {
	flex: 1;
	padding: 12px 0;
	text-align: center;
	font-size: 0.875rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-button > svg {
	color: rgba(232, 60, 119, 0.5);
	fill: rgba(232, 60, 119, 0.5);
}
#room {
	color: rgba(232, 60, 119, 1);
	fill: rgba(232, 60, 119, 1);
}
#room > svg {
	color: inherit;
	fill: inherit;
}

