<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>디미고인</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="center-section">
  </div>
  <div class="footer-nav">
    <span>© 2024 Dimigoin. All rights reserved.</span>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>
