<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>디미고인</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="center-section">
  </div>
  <div class="footer-nav">
    <div class="nav-button" id="home">
      <img src="/home.svg" alt="">
      <span>홈</span>
    </div>
    <div class="nav-button" id="nohome">
      <img src="/nohome.svg" alt="">
      <span>잔류·금귀</span>
    </div>
    <div class="nav-button" id="wakeup">
      <img src="/wakeup.svg" alt="">
      <span>기상곡</span>
    </div>
    <div class="nav-button" id="laundry">
      <img src="/laundry.svg" alt="">
      <span>세탁</span>
    </div>
    <div class="nav-button" id="room">
      <img src="/room.svg" alt="">
      <span>방신청</span>
    </div>
    <div class="nav-button" id="more">
      <img src="/more.svg" alt="">
      <span>더보기</span>
    </div>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>
