<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>디미고인</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="center-section">
    <div class="logo">
      <img src="logo.svg" alt="디미고인 로고" width="56" />
      <span>디미고인</span>
    </div>
    <button class="login-btn">
      <img src="/google.svg" alt="Google Logo" width="24" height="24" />
      <span>디미고 구글 계정으로 로그인</span>
    </button>
  </div>
  <div class="scenery">
    <img src="scenery.svg" alt="Scenery" style="width:100%;" />
  </div>
</body>
</html>
